{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<section class="about">
  <div class="content">
    <img src={%static "img/about.jpg"%}>
    <div class="text">
      <h1>  حولنا <h1>
        <h5> من نحن ؟  <h5>
          <p>
            نحن ثلاث طالبات اعتمدنا هذا الموقع كرسالة لتخرجنا  هدفنا منه 
            هو تيسير  تعزيز عملية التبرع بالدم, وهو امر يهمنا جميعا كاعضاء في المجتمع.
            نسعى من خلال هذا المشروع الى زيادة الوعي بأهمية التبرع بالدم
            و تشجيع المزيد من الاشجاص على المشاركة في هذه العملية الانسانية الحيوية.
            نحن فخورات بما حققناه ومستعدات لتقديم هذا المشروع كدليل على قدرتنا 
            على تطبيق المفاهيم والتقنيات التي اكتسبناها خلال رحلتنا التعليمية 
          
          </p>
          <button class="bt" type="button"><a href="{%url 'home'%}"> الرجوع </a></button>
        </div>
      </div>
    </section>
{% endblock content %}