{% extends 'parts/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="alert  py-5" >
        <h2 class="h1n" style="font-family: 'Chalkboard', cursive;"> ﴿ وَمَنْ أَحْيَاهَا فَكَأَنَّمَا أَحْيَا النَّاسَ جَمِيعاً ﴾ </h2>
    </div>
    <div class="content">
        <a href="{% url 'donneur' %}" role="button" class="btnn"> متبرع بالدم </a>
        <a href="{% url 'isc' %}" role="button" class="btnn"> مؤسسة جديدة </a>
        <a href="{% url 'new_topic' %}" role="button" class="btnn"> منشور جديد </a>
    </div>
    <p class="py-5 h2n">  عدد المتبرعين : {{count}} </p>
    <div class="content">
        <a href="{% url 'detail' %}" role="button" class="bnt"> اقرأ عن شروط وفوائد التبرع بالدم </a>
    </div>
</div>

{% endblock  %}


