{% extends 'parts/base.html' %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card  mt-5">
          <div class="card-body">
            <div class="card-header border-0">
              <h1 class="card-title h3"> تسعدنا زيارتكم لموقعنا</h1>                    
            </div>
              {%if form.is_valid %}
              <div class="alert alert-success" role="alert">
                <p>{{msg}}</p></div>
              {%endif%} 
            <form method="POst" novalidate>
              {% csrf_token %}
              {% include 'pages/form.html' %} 
              <button class="btn btn-success"> إنضم إلينا</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}