{% extends 'parts/base.html' %}
{% load static %}
 {% block content %}
 
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">  
                <div class="card  mt-5">
                    <div class="card-body">
                        <div class="card-header border-0">
                            <h1 class="card-title"><b> إضافة منشور</b></h1>                    
                        </div>
                        {%if form.is_valid %}
                            <div class="alert alert-success" role="alert">
                                <p>{{msg}}</p>
                            </div>
                        {%endif%} 
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% include 'pages/form.html' %} 
                            <button type="submit" class="btn btn-success btn-block">
                                أضف 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock  %} 