{% extends 'parts/base.html' %} 
{% block content%}

<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card  mt-5">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="card-title">صفحتي السخصية</div>
                        </div>
                            <dl>
                            <dt >الاسم</dt>
                            <dd >{{ donneur.nom }}</dd>
                            <dt >الهاتف</dt>
                            <dd >{{ donneur.tel }}</dd>
                            <dt >فصيلة الدم</dt>
                            <dd >{{ donneur.groupeSanguin }}</dd>
                            <dt >تاريخ اخر تبرع</dt>
                            <dd >{{ donneur.date_Dernier_Don }}</dd>
                            <dt >الولاية</dt>
                            <dd >{{ donneur.wilaya }}</dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'update_password' donneur_id=donneur.id%}" class="btn btn-light ">تغيير كلمةالسر</a>
                        <a href="{% url 'update_profile' donneur_id=donneur.id %}" class="btn btn-primary">تعديل الصفحة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}