{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <nav>
    <div class="logo"> إمد꒦د </div>
    <ul>
      <li><a href="{% url 'home' %}"> الرئيسية </a></li>
      <li><a href="{% url 'donneur' %}"> متبرع جديد </a></li>
      <li><a href="{% url 'login' %}"> الدخول </a></li>
      <li><a href="{% url 'contact' %}"> راسلنا </a></li>
      <li><a href="{% url 'about' %}"> حولنا </a></li>
      <li><a href="{% url 'topic' %}"> المنشورات </a></li>
      <li>
        <div class='box'>
        <form method="GET" action="{% url 'search' %}"class="logo2" >
            <input class="searchInput"  type="text" name="search_name"  placeholder="أدخل الزمرة للبحث عن متبرع">
            <input class="submitInput"  type="submit" name='' value="بحث"> 
        </form>
      </div>
      </li>

    </ul>
  </nav>
  <section></section>

  